body{
	background-image:url('../img/background2.png');
	background-repeat: no-repeat;
	background-size: 100% 1200px;
}
.header-menu {
	border-radius:0 !important;	
	background-color:#343a40!important;
}
.header-menu ul li
{
	color:rgba(255,255,255,.5);
	font-size:14px;
}
.header-menu ul li>a
{
	font-size:16px;
}
.header-menu ul .active>a
{
	background-color:#343a40!important;
}
.logo-brand 
{
	position:relative;
	width:140px;
}
.logo-brand img
{
	top:10px;
	position:absolute;
}
.logo-brand span
{
	position: absolute;
    top: 13.5px;
    left: 40px;
    color: white;
    font-size: 20px;
}